body {
  margin: 0;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: normal;
  font-size: 75px;
  margin: 0;
  margin-top: 4rem;
  line-height: 4rem;
}

h2 {
  color: white;
  font-family: 'DM Serif Display', serif;
  font-weight: normal;
  font-size: 55px;
} 

h3 {
  font-family: 'DM Serif Display', serif;
  font-weight: normal;
  font-size: 25px;
}

p {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}


.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.banner {
  align-items: center;
  background-color: hsl(256, 26%, 20%);
  width: 80%;
  height: 250px;
  margin: 0 auto;
  position:relative;
  display: flex;
  justify-content: space-between;
  overflow:hidden;
}

.banner-text {
  line-height: 3.5rem;
  padding: 1.5rem 5rem;
  width: 50%;
}

#bg-pattern-left {
  position: absolute;
  left:0;
  top: 440px;
  z-index: 2;
}

#bg-pattern-right {
  position: absolute;
  right:0;
  top: -80px;
  z-index: 2;
}

#banner-pattern-right {
  position: absolute;
  right:0;
  top: 0;
  z-index: 2;
}

.buttonized {
  border: solid black 0.1rem;
  box-sizing: border-box;
  color: black;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.7rem 0.1rem;
  z-index: 10;
}

.differences-flex {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.differences-item {
  margin: 7rem 1rem 1rem;
  width: 350px;
}

#family-image-desktop {
  position: absolute;
  right:175px;
  top: 100px;
  z-index: 1;
}

#family-image-mobile {
  position: absolute;
  top: 100px;
  width:100%;
  z-index: 10;
}

.line-element {
  margin-left:0;
  max-width: 160px;
}

#main-container {
  position:absolute;
  top: 98px;
  right:0;
  left:0;
  min-width: 1440px;
}

#main-textarea {
  background-color: hsl(256, 26%, 20%);
  height: 450px;
  color: white;
  padding: 5rem 9rem;
  position:relative; 
}

#navbar-desktop {
  padding: 1rem 8rem ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  z-index: 10;
}

#navbar-hamburger {
  margin:auto;
}

.navbar-item {
  color: gray;
  font-family: 'Karla', sans-serif;
  font-weight:bold;
  letter-spacing: 0.15rem;
  padding: 0.8rem;
  margin: 0.5rem 1rem;
  text-align: center;   
  text-transform: uppercase;
}

.navbar-logo {
  padding: 1.5rem;
  margin-right: auto;
}

.other {
  position:absolute;
  top: 2000px;
}

.right-align {
  margin-right: 8rem;
}

#sub-textarea {
  margin: 10rem 0;
  height: 450px;
  color: black;
  padding: 7rem 9rem;
  position:relative;   
}

.text-block {
  width: 550px;
}

.white {
  border: solid white 0.1rem;
  color: white;
}

#wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 1440px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */

  top:0;
  left:0;
  right:0;
}

@media all and (min-width: 1200px) {

  .desktop-elements-nav {
    display:flex;
  }

  .mobile-elements-nav {
    display:none;
  }
}

@media all and (max-width: 1200px) {
  .desktop-elements-nav {
    display:none;
  }

  .mobile-elements-nav {
    display:flex;
  }
}

@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1440px) {


}